.game-space {
    width: 160px;
    height: 160px;
    margin: auto;
}

.game-space-built-0 {
    background-color: orange;
}

.game-space-built-1 {
    background-color: yellow;
}

.game-space-built-2 {
    background-color: green;
}

.game-space-built-3 {
    background-color: purple;
}

.piece {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0;
}
