# https://github.com/pnpm/pnpm/issues/4920#issuecomment-1226724790

public-hoist-pattern[]=*types*
public-hoist-pattern[]=@jest/expect
public-hoist-pattern[]=@testing-library/jest-dom

# The settings in .npmrc seem to override the default settings
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*