body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content:center; 
  padding: 0px;
  background-color: #25416b; 
}

.nav-button {
  margin-right: 0px;
  padding: 5px 15px;
  background-color: #25416b;
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 600;
  font-variant: small-caps;
  text-decoration: none; 
  border-radius: 0px;
}

.nav-button:hover {
  background-color: #14d0e3; 
}

.main-content {
  padding-top: 35px; 
}