.App {
  text-align: center;
  min-height: 150vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #eac9a4; 
  background-image: url('/clouds.png'); 
  background-size: contain; 
  background-repeat: repeat-x; 
  background-blend-mode: lighten;
  min-height: 60vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 17px;
  z-index: 1;
}

.welcome {
  color: #5e79a6;
  font-size: 40px; 
}

.santorini {
  color: #ffffff;
  text-shadow: 3px 3px 0 #5e79a6, 
               -3px -3px 0 #5e79a6, 
               3px -3px 0 #5e79a6,  
               -3px 3px 0 #5e79a6;  
  font-family:'KaushanScript', sans-serif;
  font-size: 47px; 
  font-weight: bold; 
  letter-spacing: 4px;
}

.game-overview {
  position: relative;
  background-color: #5e79a6;
  min-height: 40vh; 
  display: flex; /* Change to flex to arrange children side by side */
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; /* Center aligns the items vertically */
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1; 
}

.game-overview-left {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  text-align: center; 
  padding-right: 20px; 
}

.game-overview-left h2,
.game-overview-left p {
  margin: 0; 
  padding: 5px 0; 
}

.game-overview-img {
  flex: 1; 
  max-width: 50%; 
}

.game-overview-img img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; /* Optional: Add styling */
}


button {
  padding: 15px 30px; 
  font-size: 30px;      
  background-color: #db8953; 
  color: #000000;   
  border: 3px solid #000000;      
  border-radius: 15px; 
  cursor: pointer;    
}

button:hover {
  background-color: #14d0e3; 
  color: #000000;              
}

.button-container {
  display: flex;
  gap: 100px;   
  margin-top: 20px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
